.delete{
    background-color: brown;
    color: white;
  }
  .quizzes{
    background-color: #a59175;
    color: white;
  }
  .submitQuizz{
    background-color: rgb(223, 126, 0);
    color: white;
  }